<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ADMINISTRATION - BANQUE COMPARATIF</title>

    <link href="../../public/front/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../public/front/css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <style>
        html, body {
            height: 100%;
        }

        .btn-action {
            background-color: rgba(0, 188, 212, 0.52);
            height: 200px;
            padding: 3%;
            margin: 2% 2% 1% 6%;
            font-size: 2em;
        }

        .form {
            padding: 2% 5% 5% 5%;
        }

        .small-card {
            padding: 2%;
            background-color: rgba(0, 188, 212, 0.52);
        }

        .col-sm-9{
            overflow-y: scroll;
            padding-top: 2%;
        }
    </style>
</head>
<body>

<section class="h-100 container-fluid">

    <div class="h-100 row">

        <div class="h-100 d-inline-block col-sm-3" style="background-color: rgba(0, 188, 212, 0.52)">
            <div class="list-group" style="margin-top: 15%">
                <a id="btn-ajout-banque" href="#" class="list-group-item list-group-item-action">Ajout Banque</a>
                <a id="btn-modif-banque" href="#" class="list-group-item list-group-item-action">MAJ info Banque</a>
                <a id="btn-supprime-banque" href="#" class="list-group-item list-group-item-action">Supprimer Banque</a>
                <a href="#" class="list-group-item list-group-item-action">Modifie Slide-show</a>
                <a href="#" class="list-group-item list-group-item-action">Modifie presetation info</a>
            </div>
        </div>

        <div class="col-sm-9">

            <div class="hide-show row text-center" id="btn-action">
                <div class="btn-action col-sm-3">
                    Ajout Banque
                </div>
                <div class="btn-action col-sm-3">
                    MAJ info Banque
                </div>
                <div class="btn-action col-sm-3">
                    Supprimer Banque
                </div>
                <div class="btn-action col-sm-3">
                    Modifie Slide-show
                </div>
                <div class="btn-action col-sm-3">
                    Modifie presetation info
                </div>
            </div>

            <div class="hide-show" id="ajout-banque" style="display: none">
                <div class="col-sm-12">
                    <form class="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Nom</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Nom du Banque">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Adresse</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Adresse">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputTel">Tel</label>
                                <input type="tel" class="form-control" id="inputTel" placeholder="Tel">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputFax">Fax</label>
                                <input type="tel" class="form-control" id="inputFax" placeholder="Fax">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter Banque</button>
                    </form>
                </div>
            </div>

            <div class="hide-show" id="supprime-banque" style="display: none">
                <div class="col-md-4 small-card rounded">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="front/img/logo.png">
                        </div>
                        <div class="col-md-9">
                            <h5><?= $banque->nom ?></h5>
                            <div>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <?= $banque->siege_social ?>
                            </div>
                            <div>
                                <i class="fa fa-phone" aria-hidden="true"></i> <?= $banque->telephone ?>
                                <i class="fa fa-fax" aria-hidden="true"></i> <?= $banque->fax ?>
                            </div>
                            <form style="margin-top: 5px">
                                <button type="submit" class="btn btn-danger float-right">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hide-show" id="modif-banque" style="display: none">
                <div class="col-sm-12">

                    <form class="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Nom</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Nom du Banque">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Adresse</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Adresse">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputTel">Tel</label>
                                <input type="tel" class="form-control" id="inputTel" placeholder="Tel">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputFax">Fax</label>
                                <input type="tel" class="form-control" id="inputFax" placeholder="Fax">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">MAJ Banque</button>
                    </form>

                    <form class="form">
                        <h4>Monétique</h4>
                        <br>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="carte_cib">carte cib</label>
                                <input type="tel" class="form-control" id="carte_cib" placeholder="carte cib">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emission_premiere_carte">emission premiere carte</label>
                                <input type="tel" class="form-control" id="emission_premiere_carte"
                                       placeholder="emission premiere carte">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="renouvelement">renouvelement</label>
                                <input type="tel" class="form-control" id="renouvelement" placeholder="renouvelement">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="reconfection">reconfection</label>
                                <input type="tel" class="form-control" id="reconfection" placeholder="reconfection">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="reedition_code_secret">reedition code secret</label>
                                <input type="tel" class="form-control" id="reedition_code_secret"
                                       placeholder="reedition code secret">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="comission_retrait_sur_dab_banque">comission retrait sur dab banque</label>
                                <input type="tel" class="form-control" id="comission_retrait_sur_dab_banque"
                                       placeholder="comission retrait sur dab banque">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="comission_retrait_sur_dab_confrere">comission retrait sur dab
                                    confrere</label>
                                <input type="tel" class="form-control" id="comission_retrait_sur_dab_confrere"
                                       placeholder="comission retrait sur dab confrere">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="commission_paiement_sur_tpe_client">commission paiement sur tpe
                                    client</label>
                                <input type="tel" class="form-control" id="commission_paiement_sur_tpe_client"
                                       placeholder="commission paiement sur tpe client">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="commission_paiement_sur_tpe_commercant">commission paiement sur tpe
                                    commercant</label>
                                <input type="tel" class="form-control" id="commission_paiement_sur_tpe_commercant"
                                       placeholder="commission paiement sur tpe commercant">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="carte_internationale">carte internationale</label>
                                <input type="tel" class="form-control" id="carte_internationale"
                                       placeholder="carte internationale">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="octroi">octroi</label>
                                <input type="tel" class="form-control" id="octroi" placeholder="octroi">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="mise_en_opposition">mise en opposition</label>
                                <input type="tel" class="form-control" id="mise_en_opposition"
                                       placeholder="mise en opposition">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="re_confection">re confection</label>
                                <input type="tel" class="form-control" id="re_confection" placeholder="re confection">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="reedition_du_code_secret">reedition du code secret</label>
                                <input type="tel" class="form-control" id="reedition_du_code_secret"
                                       placeholder="reedition du code secret">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="changement_de_code_pin">changement de code pin</label>
                                <input type="tel" class="form-control" id="changement_de_code_pin"
                                       placeholder="changement de code pin">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Maj Monétique</button>
                    </form>

                </div>
            </div>

        </div>


    </div>

</section>

<script src="../../public/front/js/jquery.js"></script>
<script src="../../public/front/js/bootstrap.js"></script>
<script>
    $('#btn-ajout-banque').click(function () {
        $('.list-group a').removeClass('active');
        $(this).addClass('active');
        $('.hide-show ').hide();
        $('#ajout-banque').show();
    });
    $('#btn-supprime-banque').click(function () {
        $('.list-group a').removeClass('active');
        $(this).addClass('active');
        $('.hide-show ').hide();
        $('#supprime-banque').show();
    });
    $('#btn-modif-banque').click(function () {
        $('.list-group a').removeClass('active');
        $(this).addClass('active');
        $('.hide-show ').hide();
        $('#modif-banque').show();
    });
</script>
</body>
</html>