<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>BANQUE COMPARATIF</title>

    <link href="../../public/front/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../public/front/css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../../public/front/css/core.css" rel="stylesheet" type="text/css">
</head>
<body>


<div class="diaporama"><!--
  --><img id="img1" src="../../public/front/img/slides/slide-3.jpg" alt="entreprise img" title="image1"><!--
  --><img id="img2" src="../../public/front/img/slides/slide-3.jpg" alt="entreprise img" title="image2"><!--
  <!----><img id="img3" src="../../public/front/img/slides/slide-3.jpg" alt="entreprise img" title="image3"><!---->
    <!----><img id="img4" src="../../public/front/img/slides/slide-3.jpg" alt="entreprise img" title="image4"><!---->
    -->
</div>

<section class="container-fluid">

    <div class="row">




    </div>

</section>

<footer>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <ul>
                <li>
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a href="#">Comparatif</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li>
                    <a href="about-us.html">Qui sommes-nous</a>
                </li>
            </ul>
        </div>

    </div>
</footer>

<script src="../../public/front/js/core.js"></script>
<script src="../../public/front/js/jquery.js"></script>
<script src="../../public/front/js/bootstrap.js"></script>
<script>
    $('.carousel').carousel({
        interval: 2000
    });

    $('#btn-plus-details').click(function () {
        if ($(this).attr('isHide') === 'true') {
            $(this).text('Moins de détails');
            $('.table-prestations').show();
            $(this).attr('isHide', '0');
        } else {
            $(this).text('Plus de détails');
            $('.table-prestations').hide();
            $(this).attr('isHide', 'true');
        }
    })
</script>
</body>
</html>